.navbar{
    position: relative;
    height: 250px;
    background: white;
}

.navbar img{
    margin-top: 60px;
    margin-left: -18px;
}

.navbar-header{
    position: absolute;
    display: inline-block;
    float: left;
}

.nav{
    margin-left: 200px;
    margin-top: 80px;
    font-size: 30px;
}

.nav li a{
    color: rgb(184, 92, 6);
}

body{
    width: 100%;
}

.carousel-inner{
    margin-top: -80px;
}